-
  const siteName = 'Lillmay 麗兒媄膠原蛋白胜肽';
  const baseUrl = 'https://url-to-domain.com.tw';
  let path = '';
  let infoTitle = '養顏美容助消化酵素';
  let description = '我們希望享受美味食物的同時，也能有健康與美麗的生活用守護家人的心，守護你！';
  let pageTitle = '';
  let image = 'img/og/og.jpg';